{{ define "footer" }}

<footer class="mt-auto text-white-50">
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>
</div>



</body>

<!-- <h1>АШ 1</h1>

{{ if gt .Age 20 }}

<span>Ну привет!!</span>
{{ else }}
<span>А ты кто?</span>
{{ end }}

<ul>
{{ range .Hobbies }}
<li><b>{{ . }}</b></li>
{{ else }}
<li><b>нет записи</b></li>
{{ end }}
</ul>

<p>Пользователь: {{ .Name }}</p>
<p>Возраст: {{ .Age }}</p>
<p>Деньги: {{ .Money }}</p> -->
</html>

{{ end }}
